
html { 
	min-height: 100%;
	position: relative;
	
}

a{
	color: inherit;
	text-decoration: inherit;
}

.clear a {
	text-decoration: underline;
}

a:hover {
	color: #E2A423;
	text-shadow:  0px 0px 3px #f7b935;
}

li {
	text-align: left;
}

.all {
	width: 100%;
	min-height: 100%;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #030;
}

.bgmountain {
	background-image: url("./summit_cup/mountainbg.png");
	opacity: 0.9;
	background-repeat: no-repeat;
  	background-size: 100% 600px;
	min-height: 600px;
	height: 100%;
}

.summitlogo {
	text-align: center;
	font-size: 80px;
	font-weight: 900;
	color: white;
	text-shadow: 0px 0px 7px black,0px 0px 7px black,0px 0px 7px black,0px 0px 7px black; 
	/*margin-top: 15%;*/
}

.summitsub {
	text-align: center;
	font-size: 50px;
	font-weight: 900;
	color: white;
	text-shadow: 0px 0px 7px black,0px 0px 7px black; 
}

.imageclamp img {
	max-width: 100%;
	max-height: 100%;
}

body {
	margin: 0px;
}
	
.text {
	font-family: "Courier New","Comic Sans MS", monospace;
	font-weight: 200;
	font-size: 16px;
	color: #0AD423;
	text-shadow: 0px 0px 3px #02B111; 
	max-width: 50%;
	margin-left: 25%;
}
		
.title {
	font-size: 32px;
	margin-bottom: 40px;
	font-weight: 600;			
	text-shadow: 0px 0px 7px #12FC2E;
	filter: brightness(120%);
}

.tflagb {
	color: skyblue;
	text-shadow: 0px 0px 7px skyblue;
}

.tflagp {
	color: pink;
	text-shadow: 0px 0px 7px pink;
}

.tflagw {
	color: white;
	text-shadow: 0px 0px 7px white;
}

.red {
	color: red;
	text-shadow: 0px 0px 7px red;
}

.footer {
	position: absolute;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	vertical-align: bottom;
}
	
.footer2 {
	font-size: 12px;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	max-width: 100%;
	vertical-align: bottom;
}

.para {
	margin-top: 15px;
	margin-bottom: 15px;
}
		
.subheader {
	font-size: 26px;
	margin-bottom: 12px;
	font-weight: 600;
	filter: brightness(110%);
	animation-name: lumanimsubtitle;
	animation-duration: 0.04s;
}
		
.lumanimbg {
	animation-name: lumanimbg;
	animation-duration: 0.04s;
	animation-iteration-count: infinite;
}
		
.lumanimtext {
	animation-name: lumanimtext;
	animation-duration: 0.04s;
	animation-iteration-count: infinite;
}
		
.please {
	transform:  scaleX(-1);
}

.greenify img {
	width: 200px;
	height: 200px;
	-webkit-filter: invert(42%) sepia(48%) saturate(2377%) hue-rotate(90deg) brightness(103%) contrast(107%) drop-shadow(0px 0px 0px #0AD423);
	filter: invert(42%) sepia(48%) saturate(2377%) hue-rotate(90deg) brightness(103%) contrast(107%) drop-shadow(0px 0px 0px #0AD423);
}

table {
	text-shadow: 0px 0px 1px 0AD423;
	text-align: center;
	font-size: 72px;
	margin: auto;
}

.rankinput input[type=number] {
	width: 48px;
	max-width: 48px;
}

details {
	line-height: 150%;
}

details[open] > summary:not(.subheader) {
	font-weight: 600;
	filter: brightness(110%);
	font-size: 18px;
}

details[open] > p {
	padding: 6px 6px 6px 6px;
	font-weight: 600;
	filter: brightness(110%);
	font-size: 18px;
}

details[open] > summary::before {
	content: "[";
}

details[open] > summary::after {
	content: "]";
}

details[open] > p::before {
	content: ">> ";
}

details[open] > p::after {
	content: " <<";
}

.halfmoon::after {
	content: "████████";
	letter-spacing: -20px;
}

.halfmoon::before {
	content: "████████";
	letter-spacing: -0px;
}