
html { 
	min-height: 100%;
	position: relative;
}

a{
	color: inherit;
	text-decoration: inherit;
}

.clear a {
	text-decoration: underline;
}

a:hover {
	color: #E2A423;
	text-shadow:  0px 0px 3px #f7b935;
}

li {
	text-align: left;
}

.all {
	/*background: #000000;
	background-image: url("./static_line.png");
	background-repeat: repeat;*/
	width: 100%;
	min-height: 100%;
	/*margin: auto;*/
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

.bgmountain {
	background-image: url("./summit_cup/mountainbg.png");
	opacity: 0.9;
	background-repeat: no-repeat;
  	background-size: 100% 600px;
	min-height: 600px;
	height: 100%;
}

.summitlogo {
	text-align: center;
	font-size: 80px;
	font-weight: 900;
	color: white;
	text-shadow: 0px 0px 7px black,0px 0px 7px black,0px 0px 7px black,0px 0px 7px black; 
	/*margin-top: 15%;*/
}

.summitsub {
	text-align: center;
	font-size: 50px;
	font-weight: 900;
	color: white;
	text-shadow: 0px 0px 7px black,0px 0px 7px black; 

	/*margin-top: 15%;*/
}

.imageclamp img {
	max-width: 100%;
	max-height: 100%;
}
/*
.clampul ul {
	text-align: center;
	display: inline-block;
}*/

body {
	margin: 0px;
}

.rot2 {
	transform: rotate(2deg);
}

.rot1 {
	transform: rotate(1deg);
}

.rotm1 {
	transform: rotate(-1deg);
}

.rotm2 {
	transform: rotate(-2deg);
}
		
.text {
	font-family: "Courier New","Comic Sans MS", monospace;
	font-weight: 200;
	font-size: 16px;
	color: #0AD423;
	text-shadow: 0px 0px 3px #02B111; 
	max-width: 50%;
	margin-left: 25%;
}
		
.title {
	font-size: 32px;
	margin-bottom: 40px;
	font-weight: 600;			
	text-shadow: 0px 0px 7px #12FC2E;
	filter: brightness(120%);
}

.footer {
	position: absolute;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	vertical-align: bottom;
}
	
.footer2 {
	font-size: 12px;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	max-width: 100%;
	vertical-align: bottom;
}

.para {
	margin-top: 15px;
	margin-bottom: 15px;
}
		
.para > .subheader {
	font-size: 26px;
	margin-bottom: 12px;
	font-weight: 600;
	filter: brightness(110%);
	animation-name: lumanimsubtitle;
	animation-duration: 0.04s;
}
		
.lumanimbg {
	animation-name: lumanimbg;
	animation-duration: 0.04s;
	animation-iteration-count: infinite;
}
		
.lumanimtext {
	animation-name: lumanimtext;
	animation-duration: 0.04s;
	animation-iteration-count: infinite;
}
		
.please {
	transform:  scaleX(-1);
}

.greenify img {
	width: 200px;
	height: 200px;
	filter: hue-rotate(180deg) opacity(5%) drop-shadow(0px 0px 0px #0AD423) drop-shadow(0px 0px 0px #0AD423) drop-shadow(0px 0px 0px #0AD423) drop-shadow(0px 0px 0px #0AD423) drop-shadow(0px 0px 0px #0AD423) drop-shadow(0px 0px 0px #0AD423) drop-shadow(0px 0px 0px #0AD423) drop-shadow(0px 0px 1px #0AD423);
	
}

table {
	text-shadow: 0px 0px 1px 0AD423;
	text-align: center;
	font-size: 72px;
	margin: auto;
}

